@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: var(--font-sans);

  --color-dark: #10101A;
  --color-light: #fcfcfc;
  --color-secondary: #05B19A;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --text-heading1: var(--text-6xl);
  --text-heading1--line-height: var(--text-6xl--line-height);
  --text-heading1--font-weight: 500;
  --text-heading2: var(--text-5xl);
  --text-heading2--line-height: var(--text-5xl--line-height);
  --text-heading2--font-weight: 500;
  --text-heading3: var(--text-4xl);
  --text-heading3--line-height: var(--text-4xl--line-height);
  --text-heading3--font-weight: 500;
  --text-heading4: var(--text-3xl);
  --text-heading4--line-height: var(--text-3xl--line-height);
  --text-heading4--font-weight: 500;
  --text-heading5: var(--text-2xl);
  --text-heading5--line-height: var(--text-2xl--line-height);
  --text-heading5--font-weight: 500;
  --text-heading6: var(--text-xl);
  --text-heading6--line-height: var(--text-xl--line-height);
  --text-heading6--font-weight: 500;
}

:root {
  --font-sans: "InterDisplay", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --background:  oklch(1 0 0);
  --foreground:  oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9900 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9400 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9700 0 0);
  --muted-foreground: oklch(0.4400 0 0);
  --accent: oklch(0.9400 0 0);
  --accent-foreground: oklch(0 0 0);
  --border: oklch(0.9200 0 0);
  --input: oklch(0.9400 0 0);
  --ring: oklch(0 0 0);
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  --tracking-normal: 0em;
}

.dark {
  --background:  oklch(0.145 0 0);
  --foreground:  oklch(0.985 0 0);
  --card: oklch(0.1400 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.1800 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(1 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2500 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2300 0 0);
  --muted-foreground: oklch(0.7200 0 0);
  --accent: oklch(0.3200 0 0);
  --accent-foreground: oklch(1 0 0);
  --border: oklch(0.2600 0 0);
  --input: oklch(0.3200 0 0);
  --ring: oklch(0.7200 0 0);
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

@theme {
  --animate-wiggle: wiggle 1s linear infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }
}

@layer base {
  body {
    @apply bg-background font-sans text-foreground antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 6px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}

.timeline ul {
	list-style: none;
	padding-left: 0;
}

.timeline p {
	margin: 0 0 0 1.25rem; 
}

.name-highlight {
	background: -webkit-linear-gradient(-45deg, #48cb8a, #8353e2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	animation: gradient 3s ease infinite;
}

.horizontal-underline {
	border-bottom-width: 0;
	background-image: linear-gradient(transparent, transparent),
		linear-gradient(#8353e2, #8353e2);
	background-size: 0 3px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease-in-out;
}

.horizontal-underline:hover {
	background-size: 100% 3px;
	background-position: 0 100%;
}

.horizontal-underline-active {
	background-size: 100% 3px;
	background-position: 0 100%;
}

.custom-underline {
	text-decoration: none;
	position: relative;
	display: inline-block;
}

.custom-underline:after {
	position: absolute;
	bottom: -5px;
	left: 0;
	content: '';
	width: 100%;
	transform: rotate(-1deg);
	border-width: 2px;
	@apply border-solid border-secondary;
}

.wave {
	animation-name: wave-animation;
	animation-duration: 2.667s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.prose {
	max-width: 100%;
}

.prose .anchor {
	@apply absolute invisible no-underline;
	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
}

.anchor:hover {
	@apply visible;
}

.prose a {
	@apply text-slate-600 dark:text-slate-300 transition-all decoration-primary/50 dark:decoration-primary/80 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
	@apply text-neutral-400 dark:text-neutral-700;
	content: '#';
}

.prose *:hover > .anchor {
	@apply visible;
}

.prose img {
	/* Don't apply styles to next/image */
	@apply m-0;
}

.prose pre {
  @apply border border-neutral-100 border-neutral-800 ;
}

.prose pre code {
  @apply grid p-0 rounded-lg border border-neutral-100 border-neutral-800;
  border: initial;
}

.prose code:not(pre code) {
  @apply px-1 py-0.5 after:content-[''] before:content-[''] font-normal border border-neutral-400 dark:border-neutral-700 rounded-sm bg-dark/10 dark:bg-dark/10;
}

code[class*='language-'],
pre[class*='language-'] {
	@apply text-neutral-50;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}


[data-rehype-pretty-code-fragment] code {
	@apply grid min-w-full wrap-break-word rounded-none border-0 p-0 text-sm text-black;
	counter-reset: line;
	box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
	@apply py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 1rem;
	text-align: right;
	color: gray;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
	@apply bg-slate-500 opacity-10;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
	@apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
	@apply rounded-md bg-slate-500 opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
	@apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-neutral-200 border-[#333333] bg-[#1c1c1c];
}
[data-rehype-pretty-code-title] + pre {
	@apply mt-0 rounded-t-none border-t-0;
}
