@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	font-display: optional;
	src: url(/fonts/inter-var-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
html,
body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@layer components {
	.btn-primary {
		@apply uppercase px-6 py-2 text-base text-primary font-bold dark:text-secondary border-solid border border-primary dark:border-secondary hover:bg-primary dark:hover:bg-secondary hover:text-light dark:hover:text-dark duration-200 ease-in-out;
	}
}
